.dashboardnav {

    display: flex;
    justify-content: space-between;
    align-items: center;
	padding-top: 6.1rem;
	.logo {
		cursor: pointer;
	}
    .profile {
        display: flex;
        align-items: center;
        column-gap: 2rem;
        &__user_img {
			display: flex;
			align-items: center;
			justify-content: space-around;
			h2 {
				color: black;
				font-size: 1.95rem;
				padding: 1rem;
			}
            span {
                height: 4rem !important;
                width: 4rem !important;
            }
        }
    }

	&__top_left {
		display: flex;
		align-items: flex-end;
		justify-content: space-between;
		column-gap: 3.7rem;
	}

	&__progress {
		width: 26.8rem;


		.head {
			display: flex;
			justify-content: space-between;
		}
	}
}


/////////////////////////////
.dropdown {
	position: relative;

	&__selection {
		padding-right: 5rem;
        width: 100%;
        border: none;
        -webkit-appearance: button;
        appearance: button;
        outline: none;
        cursor: pointer;
        line-height: 130%;
        color: var(--text-color-4);
		
        -webkit-appearance: none;
        -moz-appearance: none;
        text-indent: 1px;
        text-overflow: '';
		position: relative;
		
		&::after {
			display: block;
			content: "";
			width: 1rem;
			height: 1rem;
			border-right: 1.5px solid var(--text-color-1);
			border-bottom: 1.6px solid var(--text-color-1);
			transform: rotate(45deg);
			position: absolute;
			right: 1.3rem;
			top: 1.3rem;
			transition: all .2s ease-in;
		}
		
		&.visible::after {
			
			top: 1.6rem;
			transform: rotate(225deg);
	}
	}

	&__item_holder {
		background: #FFFFFF;
		border-radius: 16px;
		border: 1px solid var(--text-color-8);
		box-shadow: 0px 4px 13px rgba(2, 106, 32, 0.05);
		position: absolute;
		width: 24.3rem;
		z-index: 100;
		right: 0;
		
		
		
		.dropdown_item, button {
			display: flex;
			flex-direction: column;
			font-size: 16px;
			line-height: 130%;
			text-align: justify;
			padding: 1.5rem 1rem;
			cursor: pointer;
			color: var(--text-color-4);
			:hover {
				font-weight: 700;
			}
			&:first-child {

				&:hover {
					background-color: #F3FFF7;
					
					border-top-left-radius: 16px;
					border-top-right-radius: 16px;
				}
			}

			&:last-child {
					
				&:hover {
					background-color: #F3FFF7;
					border-bottom-left-radius: 16px;
					border-bottom-right-radius: 16px;
				}
			}
			
			&:hover {
				background-color: #F3FFF7;
			}
		}
	}
}