.backdrop {
    width: 100%;
    height: 100%;
    background-color: #01822680;
    position: fixed;
    display: flex;
    align-items: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 150;
  
  .modal {
      // width: 54.4rem;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
    //   background-color: #fff;
    //   border: 1px solid #E1E1E1;
      border-radius: 1.1875rem;
      padding: 3rem 3.5rem;

      .loader {
        animation:animateC 2s linear infinite;
      }
  
      .spinner {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        border: 3px solid #fff;
        border-top: 3px solid #018226;
        animation: spin 0.8s linear infinite;

        @keyframes spin {
          0% {
            transform: rotate(0deg);
          }
          100% {
            transform: rotate(360deg);
          }
        }
      }
      
      .modalContent {
        position: relative;
        width: 100%;
        height: 100%;
  
        .closeBtn {
          background: none;
          color: var(--text-color-1);
          border: none;
          font-weight: 500;
          font-size: 3rem;
          border-radius: 50%;
          position: absolute;
          top: 0;
          right: 0;
          cursor: pointer;
        }
      }
    }
  }
  
@keyframes animateC
{
  0%
  {
    transform:rotate(0deg);
  }

  100%
  {
    transform:rotate(360deg);
  }
}
  
  @media screen and (max-width: 750px) {
    .modal {
      width: 80%;
    }
  }