.dashboardmain {
  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    .dashboardmain_add_village {
      display: flex;
      justify-content: space-between;
      align-items: center;
      column-gap: 1.275rem;
      cursor: pointer;
      p {
        color: var(--primary-color);
        margin-bottom: 0;
        font-size: var(--font-p-text-1);
      }
    }
  }

  h2 {
    font-weight: 700;
    font-size: var(--font-header-3);
    line-height: 130%;
    margin-bottom: 1rem;
  }
  
  // p {
  //   font-size: var(--font-p-text-2);
  //   line-height: 130%;
  //   color: var(--text-color-4);
  //   margin-bottom: 1rem;
  // }

  hr {
    border: 1px solid #e1e1e1;
  }

  .village_control {
    display: flex;
    column-gap: 5rem;
    background: #f3fff7;

    border: 1px solid #cdffdb;
    border-radius: 16px;
    padding: 2.5rem 3rem;
    margin: 2rem 0 3rem;

    @media (max-width: 35.25em) {
      flex-direction: column;
      row-gap: 2rem;
    }

    h3 {
      font-weight: 700;
      font-size: var(--font-header-3);
      line-height: 130%;
    }

    p {
      font-size: var(--font-p-text-2);
      line-height: 130%;
      color: var(--text-color-4);
    }

    &__input {
      width: 25rem;

      @media (max-width: 35.25em) {
        width: 100%;
        text-align: center;
      }
      .input {
        margin-top: 2rem;

        input {
          background: #e4ffec;

          border: 1px solid var(--text-color-1);
          border-radius: 48px;
          padding: 1.15rem 1rem;
          outline: none;
          width: 100%;
        }

        .img {
          position: absolute;
          top: 2rem;

          @media (max-width: 35.25em) {
            top: 2.5rem;
          }
        }
      }
    }

    &__outputs {
      border-left: 2px solid #e1e1e1;
      padding-left: 1.5rem;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 1rem;

      @media (max-width: 35.25em) {
        border: none;
        padding-left: 0;
        grid-template-columns: repeat(2, 1fr);
      }

      .output {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: #018226;
        border: 1px solid #02b836;
        border-radius: 61px;
        padding: 0.45rem 1.6rem;
        min-width: 15.4rem;
        height: 3rem;

        

        @media (max-width: 35.25em) {
          width: 100%;
        }

        p {
          color: var(--tertiary-color);
        }

        span {
          color: var(--tertiary-color);
          font-size: 1.5rem;
        }
      }

      .cancel {
        position: absolute;
        cursor: pointer;
        right: 10px;
        top: 3px;
      }
    }
  }

  .main_bottom {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 42% 55%;
    column-gap: 1.5rem;

    @media (max-width: 35.25em) {
      grid-template-columns: 100%;
    }

    &__contact {
      border: 1px solid var(--text-color-8);
      border-radius: 16px;
      padding: 2rem;

      form {
        h5 {
          font-weight: 700;
          font-size: var(--font-p-text-1);
          margin-bottom: 0.5rem;
        }

        p {
          font-weight: 400;
          font-size: var(--font-p-text-2);
          color: var(--text-color-4);
        }

        .input_field {
          margin: 1rem 0;

          input {
            background: #ffffff;
            border: 1px solid var(--text-color-1);
            border-radius: 48px;
            padding: 1.15rem 1rem;
            outline: none;
            width: 100%;
            margin-bottom: 1rem;
          }
        }

        button {
          border-radius: 48px;
          outline: none;
          border: none;
          width: 100%;
          padding-top: 1rem;
          padding-bottom: 1rem;
        }
      }
    }

    &__contributors {
      border: 1px solid var(--text-color-8);
      border-radius: 16px;
      padding: 2rem;

      .heading {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid var(--text-color-7);
        padding-bottom: 1.5rem;
        margin-bottom: 1.5rem;
        h5 {
          font-weight: 700;
          font-size: var(--font-p-text-1);
          line-height: 130%;
        }

        p {
          cursor: pointer;
          font-size: var(--font-p-text-1);
          line-height: 130%;
          color: #5678ce;
          text-decoration: underline;
        }
      }

      .contributors_table {
        table {
          width: 100%;
          border-collapse: collapse;

          tr {
            &:not(:first-child) {
              border-top: 1px solid var(--text-color-7);
            }
          }

          th {
            text-align: start;
            font-weight: 700;
            font-size: var(--font-p-text-1);
            line-height: 130%;
            color: var(--text-color-1);
            padding-bottom: 1.5rem;
          }

          td {
            padding-top: 1rem;
            padding-bottom: 1rem;
            font-size: var(--font-p-text-1);
            line-height: 130%;
            color: var(--text-color-1);
          }
        }
      }
    }
  }
}

.sidebar {
  padding-bottom: 8rem;
  h2 {
    margin-top: 2.5rem;
    margin-bottom: 1.5rem;
    font-weight: 700;
    font-size: var(--font-header-3);
    line-height: 100%;
    color: var(--text-color-1);
  }

  p {
    font-size: var(--font-p-text-2);
    line-height: 130%;
    color: var(--text-color-3);
    margin-top: 1.5rem;
    margin-bottom: 2rem;
  }

  hr {
    border: 1px solid #e1e1e1;
  }

  &__achievements {
    
    .achievements_images {
      display: flex;
      justify-content: space-between;
      column-gap: 1.5rem;
      padding: 3rem 0;

      .img {
        border: 1.68749px solid #C0CFF5;
        border-radius: 500px;
        background-color: #D8E2FA;
        padding: 1.2rem 1.8rem;
      }
    }
    
    .link {
      margin-bottom: 3rem;
      
      a {
        font-size: var(--font-p-text-1);
        line-height: 130%;
        text-decoration-line: underline;
        color: #5678CE;
      }
    }
  }

  .instruction_cards {
    .card {
      // background: #d8e2fa;
      // border: 1px solid #c0cff5;
      // border-radius: 16px;
      padding: 1.5rem 0rem 0;
      margin-bottom: 1rem;
      display: flex;
      align-items: flex-start;
      column-gap: .5rem;

      h3 {
        font-weight: 700;
        font-size: var(--font-p-text-1);
        line-height: 130%;
        // margin-bottom: .5rem;
      }

      .inec {
        color: #5678CE;
      } 

      p {
        margin-bottom: 1.5rem;
        margin-top: 0.5rem;
      }

      .num {
        border: 1.68749px solid #C0CFF5;
        border-radius: 500px;
        background-color: #D8E2FA;
        padding: 1rem;
        p {
          font-weight: 700;
          font-size: var(--font-p-text-1);          
          margin-bottom: 0;
          margin-top: 0;
          text-align: center;
          color: #5678CE;
        }
      }
    }
  }
}

////////SELECT INPUT ////////////
.input {
  margin-top: 2rem;
  position: relative;
  select {
    background-color: #0563af;
    padding: 12px;
    width: 100%;
    border: none;
    -webkit-appearance: button;
    appearance: button;
    outline: none;
    cursor: pointer;

    background: #e4ffec;
    border: 1px solid var(--text-color-1);
    border-radius: 48px;

    font-size: var(--font-p-text-1);
    line-height: 130%;
    color: var(--text-color-4);

    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';

    option {
      padding: 40px !important;
      background: var(--tertiary-color);
      color: var(--text-color-1);
      // text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
      padding: 1rem;
      border: 0px;
      outline: 0px;
    }
  }
  .img {
    position: absolute;
    top: 1.8rem;
    right: 1rem;
  }
}

//////// MODAL ////////////////
.modal {
  // padding: 3rem 3.5rem;
  &__heading {
    padding-bottom: 1.5rem;
    margin-bottom: 2.5rem;
    h2 {
      font-weight: 300;
      font-size: var(--font-header-3);
      line-height: 115%;
      color: var(--text-color-1);

      span {
        font-weight: 700;
      }
    }

    border-bottom: 1px solid #e1e1e1;
  }

  &__body {
    p {
      line-height: 130%;
      color: var(--text-color-3);
    }

    .details_form {
      
      .select_desc {
        margin: 1.5rem 0 3rem;
      }
    }
  }

  .select {
    margin-bottom: 2rem;
  }
  form {
    margin-top: 2.5rem;

    input {
      width: 100%;
      border-radius: 48px;
      padding: 1rem;
      border: 1px solid #2f3733;
      margin-bottom: 2rem;
    }

    .btn_submit {
      input {
        margin-top: 2rem;
        border-radius: 48px;
        outline: none;
        border: none;
        width: 100%;
        padding: 1.2rem 0;
        cursor: pointer;
      }
    }
  }
}

.profile {
  @media screen and (min-width: 54rem) {
    display: flex;
    column-gap: 1rem;
  }

  &__profileMain {
    padding: 20px;
    border: 1px solid #F1F1F1;   
    box-shadow: 0px 4px 13px rgba(2, 106, 32, 0.05);
    border-radius: 16px;

    h2 {
      padding-bottom: 10px;
      border-bottom: 1px solid #E1E1E1;
      line-height: 100%;
      font-weight: 700;
    }
  }
  
  &__profileContent {
    display: flex;
    padding-top: 1rem;
    column-gap: 2rem;
    @media screen and (max-width: 36.43rem){
      flex-direction: column;
      align-items: center;
      p {
        margin: 1rem;
        font-size: 2.5rem;
      }
    }

  }

  &__achievement {
    padding: 20px;
    border: 1px solid #F1F1F1;   
    box-shadow: 0px 4px 13px rgba(2, 106, 32, 0.05);
    border-radius: 16px;

    h2 {
      padding-bottom: 5px;
      margin-bottom: 15px;
      line-height: 100%;
      font-weight: 700;
      border-bottom: 1px solid #E1E1E1;
    }

  }
  &__image {
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid #F1F1F1; 
    padding-bottom: 25px;
    div {
      display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 0px;
      width: 100%;
      @media (max-width: 34rem) {
        width: 50%;
      }
    }

  }

  &__referer {

    margin-top: 20px;
  }

  &__bold {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 100%;
    margin-bottom: 5px;
  }

  &__refererCon {
    background: #F2F6FF;
    padding: 20px;
    border-radius: 20px;
    display: flex;

    min-width: "50px";

    @media (max-width: 40rem) {
      justify-content: space-between;
    }
   
  }

  &__copy {

  }

  .avatar {
    font-size: var(--font-p-text-1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 130%;
    text-align: center;
    color: #fff;
    padding: 1rem;

    &__pTag {

      background-color: var(--primary-color);
      border-radius: 50px;
      width: 12rem;
      padding: 1rem;
      margin-top: 30px;
      text-transform: capitalize;

      @media (max-width: 34rem) {
        width: 16rem;
        padding: 2rem;
      }
    }

    span {
      color: #D60602;
      font-weight: 400;
      margin-top: 15px;
    }

   
  }

  .form {
    width: 40rem;
    border-left: 1px solid #F1F1F1;   
    box-shadow: 0px 4px 13px rgba(2, 106, 32, 0.05);
    border-radius: 5px;
    padding: 2rem;
    @media screen and (max-width: 26.43rem) {
      width: 100%;
      margin: 1rem 0;
    }

    &__text {

      h3 {
        font-size: 1.8rem;
        line-height: 130%;
        font-weight: 700;
        margin: 2px 0px;
      }

      p {
        font-size: 1rem;
        color: var(--text-color-4);
        margin: 10px 0px;

        @media screen and (max-width: 34rem) {
          
            font-size: 1.5rem !important;
          
        }
      }

    }
    form {
      display: flex;
      flex-direction: column;

      input, select {
        border: 1px solid var(--text-color-1);
        border-radius: 48px;
        padding: 1rem;
        background: #ffffff;
        outline: none;
        margin-bottom: 2rem;
        font-size: var(--font-p-text-1);
      }
    }

    button {
      border-radius: 48px;
      padding: 1.2rem;
      outline: none;
      border: none;
    }
  }
}

/////////////////// VILLAGE DETAILS ////////////////////////
.village_details {
  margin-top: 2.65rem;

  &__no_villages {
    
  }

  &__stats {
    margin-bottom: 2rem;
  }

  &__heading {
    margin-top: 2.7rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .dashboardmain_add_village {
      display: flex;
      justify-content: space-between;
      align-items: center;
      column-gap: 1.275rem;
      cursor: pointer;
      p {
        margin-bottom: 0;
        font-size: var(--font-p-text-1);
        color: var(--primary-color);
      }
    }

    &__table {
      overflow: auto;
      border-radius: 6px;
      border: 1px solid #F1F1F1;
      margin-top: 2.2rem;
      table {
        border-collapse: collapse;
        width: 100%;
        border-radius: 10px;
        border-style: hidden;

        width:100%;
        max-width: 100%;

      }
      
      tr {
        border: 1px solid #F1F1F1;
        border-radius: 10px;
        text-align: left;
      }
      
      td, th {
        // padding: 8px;
      }

      th {
        padding-top: 2rem;
        padding-bottom: 1rem;
        padding-left: 2rem;
        font-weight: 700;
        font-size: var(--font-p-text-2);
        line-height: 130%;
        color: var(--text-color-4);
      }

      td {
        padding-top: 1rem;
        padding-bottom: 2rem;
        padding-left: 2rem;
        font-weight: 400;
        font-size: var(--font-p-text-2);
        line-height: 130%;
        color: var(--text-color-1);

        p {
          line-height: 130%;
          text-decoration-line: underline;
          color: #5678CE;
          width: fit-content;
          cursor: pointer;
          }
      }
    }
}

////////////////////VILLAGE STAT/////////////////////////
.village_stat {
  background-color: var(--primary-color);
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 2rem;
  border: 1px solid #02B836;
  border-radius: 16px;
  margin-top: 2rem;
  
  @media (max-width: 45.25em) {
      grid-template-columns: 100%;      
    }

  p {
    line-height: 130%; 
    color: #2EE061;
  }
  
  h3 {
    font-weight: 700;
    font-size: var(--font-header-1);
    line-height: 130%;
    color: #FFFFFF;
      }

  .stat_one {
    position: relative;

    &__num_votes {
      width: 30.4rem;
      p {
        font-size: var(--font-p-text-1);
      }
      h3 {
        font-weight: 700;
        color: #FFFFFF;
      }
  
    }

    ::before {
      content: "";
      position: absolute;
      height: 6.7rem;
      width: .2rem;
      background: #02B836;
      right: 0;
      top: -0rem;

      @media (max-width: 45.25em) {
          display: none;   
        }
    }
  }

  .stat_two {
    padding-left: 10rem;
    padding-top: 1rem;
    display: flex;
    // text-align: end;
    justify-content: space-between;

     @media (max-width: 45.25em) {
         padding-left: 0;
        }
    p {
      font-size: var(--font-p-text-2);
    }

    h3 {
      font-size: var(--font-header-2);
      line-height: 100%;
    }
    &__rewards {
      padding-right: 7rem;
      position: relative;
      
      @media (max-width: 45.25em) {
        //  padding-right: 5rem;
        }
      ::before {
      content: "";
      position: absolute;
      height: 6.7rem;
      width: .2rem;
      background: #02B836;
      right: 10px;
      top: -1rem;

       @media (max-width: 45.25em) {
          display: none;   
        }
    }
  }

    &__num_villages {
      // padding-left: 1.5rem;

    }
  }

}

.tabs {

      /* Hide scrollbar for Chrome, Safari and Opera */
    &::-webkit-scrollbar {
        display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }
}

/////////////////// DASHBOARD LOADER //////////////////////
.loading {
  $colors: #7ef9ff, #89cff0, #4682b4, #0f52ba, #000080;
  display: flex;

  .dot {
    position: relative;
    width: 2em;
    height: 2em;
    margin: 0.8em;
    border-radius: 50%;

    &::before {
      position: absolute;
      content: "";
      width: 100%;
      height: 100%;
      background: inherit;
      border-radius: inherit;
      animation: wave 2s ease-out infinite;
    }

    @for $i from 1 through 5 {
      &:nth-child(#{$i}) {
        background: nth($colors, $i);

        &::before {
          animation-delay: $i * 0.2s;
        }
      }
    }
  }
}

@keyframes wave {
  50%,
  75% {
    transform: scale(2.5);
  }

  80%,
  100% {
    opacity: 0;
  }
}
