//Progress Bar
.single_state_progress, .progress {
	border-radius: 91px;	
	position: relative;
}

.single_state_progress {
	background-color: #FAF1E4;
	height: 2.7rem;
	.percent_all {
		position: relative;
		bottom: 2rem;
		display: flex;
		justify-content: flex-end;
		padding-right: 1rem;

		p {
	        font-size: var(--font-p-text-2);
			line-height: 130%;
			color: var(--text-color-5);

			@media (max-width: 26.43em) {
                    font-size: 1.7rem;
                }
		}
	}
}

.progress {
	margin: 15px 0;
	height: 9.9rem;
	
	@media (max-width: 56.25em) {
		height: 7rem !important;
	}
	
	@media (max-width: 26.43em) {
		height: 5rem !important;
	}

}

.single_state_progress_done, .progress_done {
	border-radius: 9.1rem;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 0;
	opacity: 0;
	transition: 1s ease 0.3s;
    position: relative;
}

.progress_done {
	
	height: 9.9rem;
	@media (max-width: 56.25em) {
		height: 7rem !important;
	}
	
	@media (max-width: 26.43em) {
		height: 5rem !important;
	}
	
	.img {
		position: absolute;
		right: 0;
		
		span {
			// height: inherit;
			// background: red !important;
			// width: 9rem !important;
			height: 9.9rem !important;
			
			@media (max-width: 56.25em) {
				width: 7rem !important;
				height: 7rem !important;
			}
			
			@media (max-width: 26.43em) {
				width: 5rem !important;
				height: 5rem !important;
			}
		}
		
	}
	
}

.single_state_progress_done {
	background: #CE9E56;
	height: 2.7rem;
}

.state_progress {
	height: 2.4rem;
	background: none;

	@media (max-width: 56.25em) {
		height: 2rem !important;
	}
	.progress_done {
		height: 2.4rem;
		background: none;

		@media (max-width: 56.25em) {
		height: 2rem !important;
	}

	}
}