//Progress Bar
.single_state_progress, .progress {
	border-radius: 91px;	
	position: relative;
}

.single_state_progress {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #FAF1E4;
	height: 2.9rem;

	

	.percent_all{
		position: relative;
		//bottom: 2rem;
		display: flex;
		justify-content: flex-end;
		padding-right: 1rem;

		p {
	        font-size: var(--font-p-text-2);
			line-height: 130%;
			color: var(--text-color-5);
		}
	}
}

.progress {
	// margin: 15px 0;
	height: 9.9rem;
	
	@media (max-width: 56.25em) {
		height: 7rem !important;
	}
	
	@media (max-width: 26.43em) {
		height: 5rem !important;
	}

}

.single_state_progress_done, .progress_done {
	border-radius: 9.1rem;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 0;
	opacity: 0;
	transition: 1s ease 0.3s;
    position: relative;
}

.progress_done {
	
	height: 9.9rem;
	@media (max-width: 56.25em) {
		height: 7rem !important;
	}
	
	@media (max-width: 26.43em) {
		height: 5rem !important;
	}
	
	
	
	.img {
		position: absolute;
		right: 0;
		top: 0;
		
		span {
			// height: inherit;
			// background: red !important;
			animation: fiximgblur 2s infinite ease-out;
			// width: 9rem !important;
			height: 9.9rem !important;

			@keyframes fiximgblur {
				0% {
					transform: scale(.98);
				}
				
				70% {
					transform: scale(1);
					
				}

				100% {
					transform: scale(.98);
				}
					
			}

			@media (max-width: 56.25em) {
				width: 7rem !important;
				height: 7rem !important;
			}
			
			@media (max-width: 26.43em) {
				width: 5rem !important;
				height: 5rem !important;
			}
		}
		
	}
	
}

.progress_done_state {
	animation: pulse 2s infinite ease-out;
	

	@keyframes pulse {
		0% {
			transform: scale(.98);
			box-shadow: 0 0 0 0 rgba(1, 130, 38, 0.7);
		}
		
		70% {
			transform: scale(1);
			box-shadow: 0 0 0 10px rgba(1, 130, 38, 0);
			
		}

		100% {
			transform: scale(.98);

		}
		
	}
}

.single_state_progress_done {
	background: #CE9E56;
	height: 2.7rem;

	.percent {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		p {
			padding: 0.5rem;
			// font-size: 1.2rem;
			color: var(--text-color-5);
			margin-left: 3.5rem;
		}
	}
}

.state_progress {
	height: 2.4rem;
	background: none;

	@media (max-width: 56.25em) {
		height: 2rem !important;
	}
	.progress_done {
		height: 2.4rem;
		background: none;

		@media (max-width: 56.25em) {
		height: 2rem !important;
	}

	}
}

.check_form {

	&__input {

		.inputs {
			margin-bottom: 5.6rem;
			display: flex;
			column-gap: 2rem;
			
			.container {
				background: var(--tertiary-color);
				border: 1px solid var(--text-color-8);
				
				box-shadow: 0px 4px 13px rgba(2, 106, 32, 0.05);
				border-radius: 16px;
				padding: 2rem 1.5rem;
				display: flex;
				justify-content: space-between;
				height: 17.8rem;
			
			label {
				// position: relative;
				h5 {
					font-weight: 700;
					font-size: 2rem;
					width: 21.9rem;
					margin-bottom: 1rem;
					line-height: 130%;					
				}
				
				p {
					font-size: var(--font-p-text-2);
					line-height: 130%;
					width: 24rem;
					color: var(--text-color-3);
				}
			}
			
				input[type="checkbox"] {
					order: 1;
					top: 0;
					right: 0;
					cursor: pointer;
					accent-color: var(--primary-color);
					padding: 2rem;
					height: 1.8rem;
					width: 1.8rem;
				}
			}
		}

		.input_btn {
			button {
				border-radius: 48px;
				border: none;
				outline: none;
				padding: 1.2rem 8.85rem;
				line-height: 130%;
			}
		}
	}
}


////////SELECT INPUT ////////////
.input {
    margin-bottom: 2rem;
    position: relative;
    select {
        padding: 1.15rem;
        width: 100%;
        border: none;
        -webkit-appearance: button;
        appearance: button;
        outline: none;
        cursor: pointer;

        border: 1px solid var(--text-color-1);
        border-radius: 48px;

        line-height: 130%;
        color: var(--text-color-4);

        -webkit-appearance: none;
        -moz-appearance: none;
        text-indent: 1px;
        text-overflow: '';

        option {
            padding: 40px !important;
            background: var(--tertiary-color);
            color: var(--text-color-1);
            // text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
            padding: 1rem;
            border:0px;
            outline:0px;
        }
    }
    .img {
        position: absolute;
        top: 1.8rem;
        right: 1rem;
    }
}


/////////////////////////////
.dropdown {
	position: relative;

	&__selection {
		padding: 1.15rem;
        width: 100%;
        border: none;
        -webkit-appearance: button;
        appearance: button;
        outline: none;
        cursor: pointer;

        border: 1px solid var(--text-color-1);
        border-radius: 48px;

        line-height: 130%;
        color: var(--text-color-4);
		
        -webkit-appearance: none;
        -moz-appearance: none;
        text-indent: 1px;
        text-overflow: '';
		position: relative;
		
		&::after {
			display: block;
			content: "";
			width: 1rem;
			height: 1rem;
			border-right: 1.5px solid var(--text-color-1);
			border-bottom: 1.6px solid var(--text-color-1);
			transform: rotate(45deg);
			position: absolute;
			right: 1.3rem;
			top: 1.3rem;
			transition: all .2s ease-in;
		}
		
		&.visible::after {
			
			top: 1.6rem;
			transform: rotate(225deg);
	}
	}

	&__item_holder {
		background: #FFFFFF;
		border-radius: 16px;

		border: 1px solid var(--text-color-8);
		box-shadow: 0px 4px 13px rgba(2, 106, 32, 0.05);
		position: absolute;
		width: 100%;
		z-index: 100;
		

		
		.dropdown_item {
			font-size: 16px;
			line-height: 130%;
			padding: 1.5rem 1rem;
			cursor: pointer;

			&:first-child {

				&:hover {
					background-color: #F3FFF7;
					border-top-left-radius: 16px;
					border-top-right-radius: 16px;
				}
			}

			&:last-child {
    
				&:hover {
					background-color: #F3FFF7;
					border-bottom-left-radius: 16px;
					border-bottom-right-radius: 16px;
				}
			}
			
			&:hover {
				background-color: #F3FFF7;
			}
		}
	}
}

////////////// BREADCRUMBS ////////////
.breadcrumb {
	ol {
		display: flex;
		column-gap: 4.4rem;

		li {
			position: relative;
			font-size: var(--font-p-text-1);
			line-height: 130%;

			&:not(:last-child)::after {
				display: block;
				content: "";
				width: 1rem;
				height: 1rem;
				border-right: 1.5px solid var(--text-color-1);
				border-bottom: 1.6px solid var(--text-color-1);
				transform: rotate(-40deg);
				position: absolute;
				right: -2.4rem;
				top: .55rem;
				transition: all .2s ease-in;
			}
		}
	}
}

////////////// TOGGLE BTN ////////////
.toggle_checkbox {
	height: 0;
	width: 0;
	visibility: hidden;
}
.toggle_label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  width: 25px;
  height: 7.88px;
  background: grey;
  border-radius: 25px;
  position: relative;
  transition: background-color .2s;
}
.toggle_label .toggle_btn {
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  width: 13.13px;
  height: 13.13px;
  border-radius: 13.13px;
  transition: 0.2s;
  background: #018226;
}
.toggle_checkbox:checked + .toggle_label .toggle_btn {
  left: calc(100%);
  transform: translateX(-100%);
}
.toggle_label:active .toggle_btn {
	width: 13.13px;
}