.nav{
    position: relative;
    width: 100%;
    // margin-bottom: -104px;
}

.navbar {
    display: flex;
    padding-top: 6.1rem;
    justify-content: space-between;
    align-items: center;

    &__logo {
        cursor: pointer;
    }
    &__menu {
        display: flex;
        align-items: center;
        justify-content: space-between;

        ul {
            display: flex;
            list-style-type: none;
            column-gap: 3rem;
            transition: all 0.3s ease-in-out;

            li {
                font-size: var(--font-p-text-1);
                font-weight: 400;
                &:hover {
                    transform: scale(1.1);
                }
                
                .active {
                    font-weight: 700;
                    font-size: var(--font-p-text-1);
                    line-height: 130%;
                    color: var(--primary-color);
                    position: relative;

                    @media only screen and (max-width: 56rem) {
                        font-size: 2.5rem;
                        color: var(--tertiary-color);
                    }
                    &::after {
                        content: "";
                        position: absolute;
                        width: 2rem;
                        height: 3px;
                        left: 0;
                        bottom: -5px;
                        background-color: var(--secondary-color);
                    }
                }
            }
        }
    }

    .hamburger {
        display: none;
        font-size: 2.5rem;
            @media only screen and (max-width: 56rem) {
                display: block;
            }
    }

    button {
        padding-top: 2rem;
        padding-bottom: 2rem;
        padding-left: 4rem;
        padding-right: 4rem;
    }

    .btn_vote, .btn_vote_mobile {
        border-radius: 48px;
        padding: 4rem, 2rem, 4rem, 2rem;
        border: none;
        background: var(--primary-color);
        color: var(--tertiary-color);    
        // z-index: 200;   

    }
    
    .btn_vote {
        @media only screen and (max-width: 56rem) {
            display: none;
        }
    }

    .btn_vote_mobile {
        border: 2px solid var(--tertiary-color);
        @media only screen and (min-width: 56rem) {
            display: none;
        }
    }
}

.navbar__menu {

    @media only screen and (max-width: 56rem) {
        
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        display: flex;
        align-items: flex-start;
        gap: 1.5rem;
        background-color: var(--primary-color);
        transition: 1s;
        transform: translateX(-130rem);
        z-index: 100;
        
        ul {
            display: flex;
            flex-direction: column;
            padding: 5rem;


            li{
                font-family: var(--font-face);
                color: var(--tertiary-color);
                padding-bottom: 3rem;
                font-size: 2.5rem;
                
            }
        }

        .nav_close {
            position: absolute;
            top: 5rem;
            right: 5rem;
            color: var(--tertiary-color);
        }
    }
}

.responsive_nav {
        @media only screen and (max-width: 56rem) {
            transform: none;
        }
}


// ////////////// MODAL ////////////////////
.modal {
    // padding: 3rem 3.5rem;
    // width: 79.4rem;
    span {
        font-weight: 700;  
        color: var(--text-color-1);
    }
    

    &__body {

        .carousel {
            overflow: hidden;
            max-width: 900px;

            &__inner {
                // white-space: nowrap;
                display: flex;
                column-gap: 3.5rem;
                transition: ease 1s;
            }

            &__item {
                display: inline-block;
                width: 1000vh;

                .details {
                    display: flex;
                    column-gap: 3rem;
                    align-items: center;
                    overflow: hidden;
                    width: 100%;

                    .img {
                        span {
                            width: 18rem !important;
                            // height: 17.5rem !important;
                        }
                    }

                    .text {
                        h3 {
                            font-weight: 300;
                            line-height: 130%;
                            color: var(--text-color-1);
                            margin-bottom: 1rem;
                            font-size: var(--font-p-text-1);
                            
                            
                            span {
                                font-weight: 700;
                                
                            }
                        }

                        p {
                            // width: 20rem;
                            font-size: var(--font-p-text-2);
                            line-height: 130%;
                            color: var(--text-color-3);
                            width: 20.5rem;
                        }
                    }
                }
            }

            &__control {
                background-color: rgba(0, 0, 0, 0.5);
                border: none;
                display: flex;
                align-items: center;
                position: absolute;
                height: 4rem;
                width: 4rem;
                top: calc(50% - 70px);
                color: #f3f3f3;
                background: #FFFFFF;
                border: 1px solid #F1F1F1;
                box-shadow: 0px 4px 13px rgba(58, 58, 58, 0.3);
                cursor: pointer;
                border-radius: 70px;
                padding: .7rem 1.1rem
                
            }
            
            .slideNone {
                display: none;
            }
            .left {
                // margin: .7rem 1.1rem;
                left: 0;
                color: #2F3733;
                font-size: 2.5rem;
            }
            .right {
            right: 0;
            color: #2F3733;
            font-size: 2.5rem;
            }
        }

        .second_layer {
            padding: 5.5rem 0;
            display: flex;
            justify-content: space-between;
            .carousel_indicators {
                //   position: absolute;
                //   transform: translateX(-50%);
                //   left: 50%;
                bottom: 1.5em;
                z-index: 2;
                display: flex;
                align-items: center;
                }
                .carousel_indicator_item {
                    width: .8rem;
                    height: .8rem;
                    padding: 0 !important;
                    border: none;
                    background-color: #F1F1F1;
                    margin: 0.2em;
                    border-radius: 50%;
                    cursor: pointer;
                }
                .active {
                    opacity: 1;
                    width: 1.2rem;
                    height: 1.2rem;
                    background-color: var(--primary-color);
                    }

            a {
                font-size: var(--font-p-text-1);
                line-height: 130%;
                text-decoration-line: underline;
                color: #5678CE;

            }
        }

        button {
            padding-top: 1rem;
            padding-bottom: 1rem;
        }
    }
}



                