.homepage {
    background: #FDFFFE;
}

.hero {
  background-image: url('/hero_bg.png');
  margin-top: -104px;

  &__top {
    display: flex;
    padding: 20rem 0 8.1rem;
    column-gap: 9.4rem;

    @media (max-width: 56.25em) {
       flex-direction: column;
       justify-content: center;
       align-items: center;
      }
  }

  &__details {
    padding-left: 9.3rem;

    @media (max-width: 56.25em) {
            padding-top: 5rem;
            padding-left: 0;
            text-align: center;
            margin-bottom: 3rem;
      }
    h1 {
        font-size: 9.5rem;
        font-weight: 900;
        text-transform: uppercase;
        margin: 0;
    }
    
    h2 {
        font-size: 4.5rem;
        margin: 0;
        font-weight: 300;
    }

    p {
        font-size: var(--font-p-text-2);
        line-height: 130%;
        width: 47.4rem;
        color: var(--text-color-2);

        @media (max-width: 26.43em) {
                    font-size: 1.7rem;
                }

        span {
            color: var(--primary-color);
            font-weight: 700;
        }
    }
  }

  &__bottom {
    .percent {
        display: flex;
        justify-content: space-between;
    }
  }
}

.states {
  margin: 6rem 0;
}

.contribute {
  margin: 6.1rem 0 5rem;

  .logo {
    margin-bottom: 7.2rem;
  }

  h1 {
    font-weight: 300;
    font-size: 2.5rem;
    line-height: 130%;
    margin-bottom: 4rem;
    
    span {
      font-weight: 700;
    }
  }

  .footer {
    margin-top: 16.1rem;
    width: 25.2rem;

    h5 {
      font-weight: 700;
      font-size: var(--font-p-text-1);
      line-height: 130%;
      position: relative;
      margin-bottom: 1rem;
      
      &::after {
        content: "";
        position: absolute;
        height: 2px;
        bottom: 0;
        left: 0;
        width: 4.2rem;
        background-color: #D60602;
      }
    }

    p {
      font-weight: 400;
      font-size: var(--font-p-text-2);
      line-height: 130%;
      color: var(--text-color-3);
    }
  }
}

// /////////////////////// DASHBOARD ///////////////////////////

.dashboard {
  margin-top: 6.4rem;
  margin-bottom: 2.5rem;

  &__body {
    display: grid;
    grid-template-columns: 67% auto;
    column-gap: 2rem;
    margin-top: 4rem;
    
    @media (max-width: 56.25em) {
        grid-template-columns: 100%;

      }

    .main {

      border: 1px solid var(--text-color-8);
      box-shadow: 0px 4px 13px rgba(2, 106, 32, 0.05);
      border-radius: 16px;

      padding: 2.5rem 3rem 3rem;
    }

    .aside {
      background: #F2F6FF;
      border: 1px solid #D8E2FA;
      border-radius: 16px;
      padding: 0 2rem;
    }
  }
}

///////////// PROFILE  / ////////////
.profile {
    margin-top: 6.4rem;

    &__box {
      padding: 2.5rem 3rem;
      margin-top: 4.6rem;
      margin-bottom: 2.5rem;
      border: 1px solid #F1F1F1;   
      box-shadow: 0px 4px 13px rgba(2, 106, 32, 0.05);
      border-radius: 16px;
      height: 80vh;

      .head {
        h2 {
          font-weight: 700;
          font-size: var(--font-header-3);
          line-height: 130%;
          color: var(--text-color-1);
          
          padding-bottom: 1.5rem;
        }
        
        hr {
          border: 1px solid #E1E1E1;
        }
      }
    }
  }