.footer {
    background: #E4FFEC;
    padding: 8rem 0 8rem;

    // display: flex;
    // justify-content: space-between;
}

.footer_container {
    display: flex;
    justify-content: center;
    // column-gap: 28rem;
    align-items: flex-start;
    position: relative;
    @media (max-width: 56.25em) {
        flex-direction: column;
        align-items: center;
	}
    .footer__logo {
        position: absolute;
        left: 0;

        @media (max-width: 56.25em) {
            position: relative;
	    }
    }

    .footer__details {

        h2 {
            text-align: center;
            font-weight: 700;
            font-size: 4.5rem;
            color: var(--primary-color);
            width: 34.7rem;
        }

        p {
            font-weight: 400;
            line-height: 130%;
            width: 38.8rem;
            text-align: center;
            color: var(--text-color-2);
            margin: 1.5rem 0 3rem;
        }

        .btn_div {
            display: flex;
            justify-content: center;
            
            button {
                background: var(--primary-color);
                border: none;
                outline: none;
                padding: 2.3rem 12.2rem;
                border-radius: 48px;

                //Text
                font-size: var(--font-p-text-1);
                line-height: 130%;
                color: var(--tertiary-color);
            }
        }
    }
}