.backdrop {
  width: 100%;
  height: 100%;
  background-color: #01822680;
  position: fixed;
  display: flex;
  align-items: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 150;

.modal {
    // width: 54.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid #E1E1E1;
    border-radius: 1.1875rem;
    padding: 3rem 3.5rem;

    
    .modalContent {
      position: relative;
      width: 100%;
      height: 100%;
    }
  }
}




@media screen and (max-width: 750px) {
  .modal {
    width: 80%;
  }
}


// ////////////// DELIVER MODAL ////////////////////
.deliver_modal {
    // padding: 3rem 3.5rem;
    // width: 79.4rem;
    span {
        font-weight: 700;  
        color: var(--text-color-1);
    }
    

    &__body {

        .carousel {
            overflow: hidden;
            max-width: 900px;

            &__inner {
                // white-space: nowrap;
                display: flex;
                column-gap: 3.5rem;
                transition: ease 1s;
            }

            &__item {
                display: inline-block;
                width: 1000vh;

                .details {
                    display: flex;
                    column-gap: 3rem;
                    align-items: center;
                    overflow: hidden;
                    width: 100%;

                    .img {
                        span {
                            width: 18rem !important;
                            // height: 17.5rem !important;
                        }
                    }

                    .text {
                        h3 {
                            font-weight: 300;
                            line-height: 130%;
                            color: var(--text-color-1);
                            margin-bottom: 1rem;
                            font-size: var(--font-p-text-1);
                            
                            
                            span {
                                font-weight: 700;
                                
                            }
                        }

                        p {
                            // width: 20rem;
                            font-size: var(--font-p-text-2);
                            line-height: 130%;
                            color: var(--text-color-3);
                            width: 20.5rem;
                        }
                    }
                }
            }

            &__control {
                background-color: rgba(0, 0, 0, 0.5);
                border: none;
                display: flex;
                align-items: center;
                position: absolute;
                height: 4rem;
                width: 4rem;
                top: calc(50% - 70px);
                color: #f3f3f3;
                background: #FFFFFF;
                border: 1px solid #F1F1F1;
                box-shadow: 0px 4px 13px rgba(58, 58, 58, 0.3);
                cursor: pointer;
                border-radius: 70px;
                padding: .7rem 1.1rem
                
            }
            
            .slideNone {
                display: none;
            }
            .left {
                // margin: .7rem 1.1rem;
                left: 0;
                color: #2F3733;
                font-size: 2.5rem;
            }
            .right {
            right: 0;
            color: #2F3733;
            font-size: 2.5rem;
            }
        }

        .second_layer {
            padding: 5.5rem 0;
            display: flex;
            justify-content: space-between;
            .carousel_indicators {
                //   position: absolute;
                //   transform: translateX(-50%);
                //   left: 50%;
                bottom: 1.5em;
                z-index: 2;
                display: flex;
                align-items: center;
                }
                .carousel_indicator_item {
                    width: .8rem;
                    height: .8rem;
                    padding: 0 !important;
                    border: none;
                    background-color: #F1F1F1;
                    margin: 0.2em;
                    border-radius: 50%;
                    cursor: pointer;
                }
                .active {
                    opacity: 1;
                    width: 1.2rem;
                    height: 1.2rem;
                    background-color: var(--primary-color);
                    }

            a {
                font-size: var(--font-p-text-1);
                line-height: 130%;
                text-decoration-line: underline;
                color: #5678CE;

            }
        }

        .btn {
            padding: 1rem 2.2rem;
        }
    }
}



                