//Sidebar
.sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem 1rem;
    background-color: #2F3733;
    height: auto;
    width: 257px;
    
    
    
    .logo {
        display: flex;
        justify-content: center;
        margin-top: 1rem;
        margin-bottom: 52px;
    }
    @media (max-width: 56.25em) {
        // width: 50%;
        // display: none;
        z-index: 100;
    }
    
    ul {
        position: relative;
        font-size: var(--font-p-text-1);
        color: #FFFFFF;
        
        li {
           
            cursor: pointer;
            font-weight: 400;
            padding: 1rem;
            margin-bottom: 1.5rem !important;
            width: 85%;
            margin: 0 auto;
            border-radius: 50px !important;
            text-align: center;
           
            &:hover {
                background-color: var(--primary-color);
                border-radius: 3px;
                color: var(--tertiary-color);
            }
            
            &:first-child {
                background-color: var(--primary-color);
                border-radius: 3px;
                color: var(--tertiary-color);
            }
        }
        
    }
}

//Admin Nav
.admin_nav {
    background-color: var(--tertiary-color);
    padding: 2rem;
    margin: 1rem 2rem;
    border-radius: 3px;
    filter: drop-shadow(0px 4px 13px rgba(2, 106, 32, 0.05));
    display: flex;
    justify-content: space-between;
    align-items: center;
    .navigate {

        .img {
            span {
                width: 4rem !important;
                height: 4rem !important;
            }
        }
    }
}

//Admin Dashboard
.admin_dashboard {
    margin: 1rem 2rem;
    height: 100%;
    
    .top_card{
        display: flex;
        column-gap: 2rem;
        justify-content: space-between;
        margin-bottom: 2rem;

        @media (max-width: 75em) {
            flex-wrap: wrap;
            row-gap: 2rem;
        }
        
    }
}

//Card 
.card {
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    border: 1px solid #F1F1F1;
    border-radius: 10px;
    width: 100%;
    height: 185px;
    padding: 0.9rem ;
    margin-top: 25px;
    img {
        margin: 1rem;
    }
    h2 {
        font-weight: 300;
        font-size: 1.5rem;
        // line-height: 51px;
        color: #2F3733;
    }
    
    h3 {
        font-weight: 700;
        font-size: 32px;
        // line-height: 51px;
        color: #2F3733;
    }
    
}
//User List Table
.user_list, .village_list {
    
    .edit_button {
        background-color: var(--primary-color);
        color: #fff;
        padding: .5rem 1rem;
        border-radius: 5px;
    }
    .delete_button {
        color: red;
        cursor: pointer;
        font-size: 2rem; 
        margin-left: 1rem;
    }
}

//ADMINPAGE
.admin_page {
    display: grid;
    grid-template-columns: 20% auto;
    background: #F1F1F1;
    height: 100%;
    
    
    // position: relative;

    @media (max-width: 75em) {
        grid-template-columns: 100%;
    }

    &__sidebar {
        background-color: #2F3733;
        height: 100%;
        width: 257px;
        .logo {
            display: flex;
            justify-content: center;
            margin-top: 2.25rem;
            margin-bottom: 52px;
        }
        @media (max-width: 56.25em) {
            // width: 50%;
        }
    }

    .close {

        @media (max-width: 75em) {
            position: absolute;
            z-index: 100;
            transform: translateX(-100%);
            transition: all .2s ease-in-out;
        }
    }
    .open {
        
        @media (max-width: 75em) {
            
            position: absolute;
            z-index: 100;
            transform: translateX(0%);
            transition: all .2s ease-in-out;
        }
    }

    .toggle {
        position: absolute;
        left: 2rem;
        top: .5rem;
        z-index: 100;

        @media (min-width: 75em) {
            display: none;            
        }
    }

    &__dashboard {
        .list {
            margin: 1rem 2rem;
        }
    }
}

// Admin Nav
.nav {
    display: flex;
    width: 100%;
    height: 11.25rem;
    .wrapper {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        border-bottom: 1px solid #8c8888;
        width: 100%;
        padding: 0 3.5rem;
        .input {
            height: 4rem;
        }
    }
}