@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Colors */
  --primary-color: #018226;
  --secondary-color: #d60602;
  --tertiary-color: #ffffff;
  --bg-color: #e1e1e1;

  /*Fonts */
  --font-face: 'Lato';
  --font-header-1: 3.2rem;
  --font-header-2: 2.5rem;
  --font-header-3: clamp(14px, 3vw, 2rem);
  --font-p-text-1: clamp(12px, 3vw, 1.6rem);
  --font-p-text-2: clamp(11px, 3vw, 1.3rem);

  // Text Colors
  --text-color-1: #2f3733;
  --text-color-2: #5f6160;
  --text-color-3: #7a7b7b;
  --text-color-4: #979797;
  --text-color-5: #c4c4c4;
  --text-color-6: #d7d7d7;
  --text-color-7: #e1e1e1;
  --text-color-8: #f1f1f1;

  //Width
  --max-width: 1240px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-family: var(--font-face);
}

html {
  font-size: 62.5%;
  color: var(--text-color-1);

  @media (max-width: 75em) {
    font-size: 56.25%;
  }

  @media (max-width: 56.25em) {
    font-size: 50%;
  }

  @media (max-width: 35.25em) {
    font-size: 45%;
  }

  @media (max-width: 26.43em) {
    font-size: 36.25%;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-size: clamp(1rem, 1rem + 5vw, var(--font-header-1));
}

h2 {
  font-size: var(--font-header-2);
}

h5 {
  font-size: var(--font-header-3);
}

p,
::placeholder,
button,
.btn,
input {
  font-size: var(--font-p-text-1);
}

input {
  padding-left: 20px !important;
}

// ::placeholder {
//         font-size: 1.6rem;
// }

button {
  font-family: var(--font-face);
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}
.btn_light {
  color: var(--primary-color);
  background: var(--tertiary-color);

  &:hover {
    color: var(--tertiary-color) !important;
    transform: translateY(-3px);
    background-color: #018226e7 !important;
  }
}
.btn_dark {
  background: var(--primary-color);
  color: var(--tertiary-color);
  &:hover {
    transform: translateY(-3px);
    background-color: #018226e7;
  }
}

.container {
  padding: 0 5rem;
  max-width: var(--max-width);
  margin: 0 auto;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 3rem 2rem;
}

.select {
  &__control {
    padding: 1px 0;
    padding-left: 1rem;
    border: 1px solid !important;
    border-radius: 48px !important;
  }

  &__placeholder {
    color: var(--text-color-4) !important;
  }

  &-container {
    font-size: 14px;
  }
  &__control {
    svg {
      transition: all 0.3s ease-in-out;
    }
    &--menu-is-open {
      svg {
        transition: all 0.3s ease-in-out;
        transform: rotate(180deg);
      }
    }
  }
}
